= form_tag(searches_path, method: :get) do
  = select_tag :category, options_for_select(category_list), class: 'btn btn-outline-primary btn-sm'
  = text_field_tag :search, '', placeholder: 'Search field'
  = submit_tag 'Find it', class: 'btn btn-outline-primary btn-sm'
